<!-- display welcome message for administrator-->
<% if flash[:notice]%>
<div class="alert alert-success">
	<img src="/check.png" width="30" height="20"/><%= flash[:notice]%>
</div>

<%end%>
<legend> Administrator Options </legend>
<div id="container">
<div id="admin">

    <!-- button for creating a new user-->
   <div id="button">  
        <button type="button" class="btn btn-default">
            <%= button_to "Add New User", {:controller=>"admin",:action=>"new"}, class: "button", method: :get%>
        </button>
    </div>
    <!-- button for cviewing system users-->
	<div id="button">
    	<button type="button" class="btn btn-default">
    		<%= button_to "View Registered users", users_view_user_path, class: "button" %>
    	</button>	
 	</div>
    <!-- button for adding new items to store-->
 	<div id="button">
    	<button type="button" class="btn btn-default">
    		<%= button_to "Add New stock", new_item_path, class: "button", method: :get%>
    	</button>
  	</div>
    <!-- button for viewing available stock-->
  	<div id="button">
    	<button type="button" class="btn btn-default">
    		<%= button_to "View Available Stock", items_view_stock_path, class: "button"%>
    	</button>
	</div>
    <!-- button for reading the transaction logs-->
    <div id="button">
        <button type="button" class="btn btn-default">
            <%= button_to "Download Transaction log", {:controller=>"admin",:action=>"read_log"}, class: "button"%>
        </button>
    </div>



</div>
</div>
<div id="back">

</div>