<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="js.js"></script>
  <%= favicon_link_tag 'favicon.jpg' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<%= csrf_meta_tag %>
</head>
<body>


  <div id="banner">
  </div>

    

 <% if session[:userid] %>
  <div id="logout">
   
      <%= session[:user_name] %> | <%= session[:role] %>
      <%= link_to "Log out", log_out_path, method: :get, data: { keybinding: 'ctrl+l' } %>
      <%= link_to "Help", help_path, data: { keybinding: 'ctrl+m' }, method: :get, :id =>"user_help"%>
    
  </div>

    <% end %>
<div id="flash">


</div>
  <div id="content">
   <%= yield %>
  </div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
 <div id="footer"></div>
</nav>

</body>
</html>
